# Ignore this files
.gitignore
.gitattributes
# except this files
!README.md
# Ignore these folders
.git/*
analisis/*


# Ignore this folder
firmware/*
# except these subfolders
!firmware/Driver 3DPrinter/
!firmware/kernel/
!firmware/port/
# except these files inside that folder
!firmware/Main3DPrinter.c
!firmware/Main3DPrinter.pjt
!firmware/osa.c
!firmware/osa.h
!firmware/OSAcfg.h
!firmware/usb_bootloader.h
!firmware/usb_descriptor.h

# Ignore this folder
hardware/*
# except this subfolder
!hardware/electronica/
!hardware/mecanica/
# ignore this subfolder again
hardware/electronica/*
hardware/mecanica/*
# except these files inside that subfolder
!hardware/electronica/Repet_RTOS.pdsprj
!hardware/electronica/Repet_RTOS_BottonCopper.pdf
!hardware/electronica/Repet_RTOS_TopCopper.pdf
!hardware/electronica/BOM.pdf
!hardware/mecanica/Repet.skp


